.crys1 {
    float: left;
}
.crys2 {
    float: left;
}
.crys3 {
    float: left;
}
.crys4 {
    float: left;
}
.totalscore {
    clear: both;
}
.score {
    clear: both;
}
h1 {
 background-color: lightcoral;
 height:200px;
 width: 300px;
 font-size: 32px;
 font-weight: bold;
}